{% extends "/bootstrap/base.html" %}

{% block title %}UR Virtual Cafe{% endblock %}

{% block head %}
{{ super() }}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">UR Virtual Cafe</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}" class="navbar-item">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.forum') }}" class="navbar-item">Virtual Cafe</a></li>
                <li><a href="{{ url_for('main.profile') }}" class="navbar-item">Profile</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a></li>
                <li><a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a></li>
                {% endif %}
            </ul>
            <!-- <ul class="nav navbar-nav">
                <li><a href="/ingredientsDatabase">IngredientsDb</a></li>
            </ul>
 -->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
