{% extends "base.html" %}

{% block content %}
<div class="container" style="height: 1000px;color: white">
	<h1 class="page-header">
		{{ current_user.name }} Profile
	</h1>
	{% for messages in get_flashed_messages() %}
	<div class="notification is-danger">
		{{ messages }}
	</div>
	{% endfor %}
	<div style="font-size: 25px">
	<div class="pro-group">
		<label for="post_name">Name:</label>
		<label>{{ current_user.name }}</label>
	</div>
	<div class="pro-group">
		<label for="post_name">Email:</label>
		<label>{{ current_user.email }}</label>
	</div>
	<div class="pro-group">
		<label for="post_name">Password:</label>
		<label>hidden</label>
	</div>
		<a class="btn btn-warning" href="{{ url_for('auth.update', id=current_user.id, _external=True) }}">Update Profile</a>
		<a class="btn btn-danger"href="{{ url_for('auth.delete', id=current_user.id, _external=True) }}">Delete Account</a>
	</div>
</div>

{% endblock %}