{% extends "base.html" %}

{% block content %}
<div class="container" style="height: 1000px">
    <br><br>
    <p class="header" style="color:white; font-size: 80px;">
        University of Rochester
        <br> 
        Virtual Cafe
    </p>
    <p class="page-header" style="color:#d3f5f0; font-size: 45px;">
        A Place to Share &
        <br> 
        Get Inspired
    </p>
    <p class="title" style="color: white;font-size: 20px;">Register For a New Account</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="form-group">
                <div class="control">
                    <p style="color: white">Email:</p>
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="form-group">
                <div class="control">
                     <p style="color: white">User Name:</p>
                    <input class="form-control" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="form-group">
                <div class="control">
                     <p style="color: white">Set Password:</p>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
</div>
{% endblock %}