{% extends "base.html" %}

{% block content %}
<div class="container" style="height: 1000px">
    <br><br>
    <p class="header" style="color:white; font-size: 80px;">
        University of Rochester
        <br> 
        Virtual Cafe
    </p>
    <p class="page-header" style="color:#d3f5f0; font-size: 45px;">
        A Place to Share &
        <br> 
        Get Inspired
    </p>
    <p class="title" style="color: white;font-size: 20px;">Login With Your Existing Account</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/login">
        <div class="form-group">
            <p style="color: white">Email:</p>
            <input class="form-control" type="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <p style="color: white">Password:</p>
            <input class="form-control" type="password" name="password" placeholder="Enter Your Password">
        </div>
        <button class="btn btn-secondary">Login</button>
    </form>
</div>
{% endblock %}